Functional_Programming/lambda_calculus/__pycache__/bool.cpython-310.pyc
Functional_Programming/lambda_calculus/__pycache__/numbers.cpython-310.pyc
Functional_Programming/essential_concepts/.vscode/settings.json
